.Heading{
  text-align: center;
  padding-top: 60px;
  text-transform: uppercase;
}

body{
  background-color: #cccccc;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.masonry-grid {
  column-count: 1;
}

.masonry-grid__item {
  /* Prevent a column from breaking into multiple columns */
  break-inside: avoid;
}

button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}
button:hover {
  opacity:1;
}

* {box-sizing: border-box}
/* Full-width input fields */
  input[type=text], input[type=password] {
  width: 50%;
  padding: 15px;
  margin: 5px 0 2px 0;
  display: inline-block;
  border: none;
  background: #ffffff;
}








