.hero {
    font-family: sans-serif;
    text-align: center;
    width: 100%;
    height: 100%;
    position: relative;
}
img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-image: linear-gradient(rgba(0, 0, 0, 2.5), rgba(0, 0, 0, 0.5))
}

.hero-text {
    position: absolute;
    object-fit: cover;    
    top: 60%;
    left: 50%;
    transform: translate(-50%, -15%);
    bottom: 2px;
    
}
.hero-text h1 {
    padding: 25px;
    font-size: 5rem;
    font-weight: 800;
    background: #ffffff;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
}
.hero-text p {
    font-size: 1.5rem;
    color:#fff;
    padding: 0.5rem 0 2rem 0;
    text-align: center;
    font-weight: bold;
}
.hero-text .show {
    text-decoration: none;
    background: #346da3;
    padding: 1rem 2rem;
    border-radius: 15px;
    font-size: 1.1rem;
    letter-spacing: 2px;
    color: #fff;
}
.link{
    text-align: center;
}
@media screen and (max-width: 1100px) {
    .hero-text {
        position: absolute;
        object-fit: cover;    
        top: 25%;
        left: 50%;
        transform: translate(-50%, -15%);
        bottom: 2px;
    }
    .hero-text h1 {
        padding: 20px 20px;
        font-size: 4rem;
    }
    .hero-text p {
        font-size: 1.1rem;
        padding: 0 0 2rem 0;
    }
    .hero-text .show{
        padding: 1rem 2.1rem;
        border-radius: 15px;
        font-size: 1rem;
    }

}

@media screen and (max-width: 700px) {
    .hero-text {
        position: absolute;
        object-fit: cover;    
        top: 20%;
        left: 50%;
        transform: translate(-50%, -15%);
        bottom: 2px;
    }
    .hero-text h1 {
        padding: 20px 20px;
        font-size: 3rem;
    }
    .hero-text p {
        font-size: 1.1rem;
        padding: 0 0 2rem 0;
        text-decoration: none;

    }
    .hero-text .show{
        padding: 0.6rem 1.1rem;
        border-style: solid;
        border-color: rgb(190, 182, 182);
        border-width: 2px;
        border-radius: 10px;
        font-size: 1rem;
    }

}
