  
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .back-to-events-btn {
    margin-bottom: 20px;
  }

  
  .my-event-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .my-events-page h2 {
    margin-bottom: 5px;
  }
  
  .my-events-page p {
    margin: 0;
  }

  .event-actions {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    cursor: pointer;
  }
  .signed-up-for-heading {
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center;
    padding-bottom: 10px;
  }
  .event-actions:hover {
    background-color: #0062cc;
  }
    
  button[disabled] {
    opacity: 0.7; /* reduce the opacity of the button */
    cursor: not-allowed; /* change the cursor to not-allowed */
  }
  
  @media screen and (max-width: 768px) {
    .my-events-page {
      width: 100%;
    }
  }
  