input[type="password"], textarea {

    background-color : #ffffff; 
  
  }
input[type="text"], textarea {

  background-color : #ffffff; 
  
  }
input[type ="message"], textarea {
  color : 'red';
  background-color : #bd6969; 
  }
